node-red/all_honsegard.json
[{"id":"c23581fd.2dd21","type":"tab","label":"Hønsegården","disabled":false,"info":""},{"id":"7bce516f.32aba","type":"tab","label":"Innstillinger","disabled":false,"info":""},{"id":"49cc377f.5a24d8","type":"tab","label":"Tilkobingspunkter","disabled":false,"info":""},{"id":"1f43233c.b8bd4d","type":"mqtt-broker","z":"","name":"16-server","broker":"192.168.10.16","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"svar","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"88f917b5.890db8","type":"users_config","appPath":"/","jwtCookieName":"","jwtHttpsOnly":false},{"id":"c56402a5.f797a","type":"websocket-client","z":"","path":"192.168.10.16","tls":"","wholemsg":"false"},{"id":"20f336db.bb172a","type":"node-red-contrib-httpauthfile","z":"","name":"hane","authType":"Basic","realm":"","filePath":"","hashed":false},{"id":"e50342a9.3c0a7","type":"ui_group","z":"","name":"Hønsegården","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2837c08c.b187e","type":"ui_group","z":"","name":"Oppsett","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4a94690f.f68708","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Hønsegården","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5b0cb674.0350a8","type":"mui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#097479","edited":false},"m-page-backgroundColor":{"value":"#111111","edited":false},"m-page-sidebar-backgroundColor":{"value":"#000000","edited":false},"m-group-textColor":{"value":"#0eb8c0","edited":false},"m-group-borderColor":{"value":"#555555","edited":false},"m-group-backgroundColor":{"value":"#333333","edited":false},"m-widget-textColor":{"value":"#eeeeee","edited":false},"m-widget-backgroundColor":{"value":"#097479","edited":false},"m-widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f7b50bcc.6403c8","type":"ui_group","z":"","name":"Brytere","tab":"","disp":true,"width":"6","collapse":false},{"id":"53fa0fff.33ce3","type":"ui_group","z":"","name":"Tilkoblingspunkt 1","tab":"","disp":true,"width":"6","collapse":false},{"id":"4f66efd7.040cb","type":"ui_group","z":"","name":"Tilkoblingspunkt 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"c30fc207.d2eda","type":"ui_group","z":"","name":"TIlkoblingspunkt 2","tab":"","disp":true,"width":"6","collapse":false},{"id":"ddd31d23.20c1a","type":"ui_group","z":"","name":"Tilkoblingspunkt 3","tab":"","disp":true,"width":"6","collapse":false},{"id":"15a35817.e96d78","type":"mui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"e5234a5a.c1b358","type":"mui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"77922d0e.acfc44","type":"mui_link","name":"Link 3","icon":"open_in_browser","target":"newtab","order":3},{"id":"40ff03a5.5b5c5c","type":"mui_group","name":"Group","tab":"15a35817.e96d78","order":null,"disp":true,"width":6},{"id":"52b478bc.784c28","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"5fc67886.5a1e28","type":"mui_tab","z":"","name":"Instillinger","icon":"dashboard"},{"id":"dc82dfa4.052f8","type":"mui_group","z":"","name":"MQTT","tab":"5fc67886.5a1e28","disp":true,"width":"6","collapse":false},{"id":"f3367ae0.f20228","type":"mqtt-broker","z":"","name":"test","broker":"192.168.10.16","port":"1880","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1fbe4fdd.ecc7f","type":"mqtt-broker","z":"","name":"16-server","broker":"192.168.10.16","port":"1885","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"svar","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28d6e958.ab3836","type":"users_config","appPath":"/","jwtCookieName":"","jwtHttpsOnly":false},{"id":"f7eae981.0cbe78","type":"websocket-client","z":"","path":"192.168.10.16","tls":"","wholemsg":"false"},{"id":"cf89fc21.9b9ca","type":"node-red-contrib-httpauthfile","z":"","name":"hane","authType":"Basic","realm":"","filePath":"","hashed":false},{"id":"a08b0682.68d378","type":"ui_group","z":"","name":"Hønsegården","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"97f36098.ec24","type":"ui_group","z":"","name":"Oppsett","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f6a0f71b.825e08","type":"mui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#097479","edited":false},"m-page-backgroundColor":{"value":"#111111","edited":false},"m-page-sidebar-backgroundColor":{"value":"#000000","edited":false},"m-group-textColor":{"value":"#0eb8c0","edited":false},"m-group-borderColor":{"value":"#555555","edited":false},"m-group-backgroundColor":{"value":"#333333","edited":false},"m-widget-textColor":{"value":"#eeeeee","edited":false},"m-widget-backgroundColor":{"value":"#097479","edited":false},"m-widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a7238b7b.322608","type":"ui_group","z":"","name":"Brytere","tab":"","disp":true,"width":"6","collapse":false},{"id":"3c23dcdc.04ecc4","type":"ui_group","z":"","name":"Tilkoblingspunkt 1","tab":"","disp":true,"width":"6","collapse":false},{"id":"dd54468c.cb64f8","type":"ui_group","z":"","name":"Tilkoblingspunkt 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"b5fdd73b.ec0d88","type":"ui_group","z":"","name":"TIlkoblingspunkt 2","tab":"","disp":true,"width":"6","collapse":false},{"id":"a1bbfdc2.db597","type":"ui_group","z":"","name":"Tilkoblingspunkt 3","tab":"","disp":true,"width":"6","collapse":false},{"id":"60112ce9.4e0704","type":"mui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"5f146b3e.1ea144","type":"mui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"dba3d3c9.71734","type":"mui_link","name":"Link 3","icon":"open_in_browser","target":"newtab","order":3},{"id":"799037fa.d60a88","type":"mui_group","name":"Group","tab":"60112ce9.4e0704","order":null,"disp":true,"width":6},{"id":"592ad30c.233a5c","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"17a6f1d7.fa22ae","type":"mui_tab","z":"","name":"Instillinger","icon":"dashboard"},{"id":"4b726a0c.b16cb4","type":"mui_group","z":"","name":"MQTT","tab":"17a6f1d7.fa22ae","disp":true,"width":"6","collapse":false},{"id":"a9dab9.fa345548","type":"mqtt-broker","z":"","name":"test","broker":"192.168.10.16","port":"1880","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"88cf67f3.4c4f38","type":"ui_group","z":"","name":"Brytere","tab":"","disp":true,"width":"6","collapse":false},{"id":"9bbb0e53.5981","type":"mqtt-broker","z":"","name":"16-server","broker":"192.168.10.16","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"svar","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f6c4e52c.ed8608","type":"users_config","appPath":"/","jwtCookieName":"","jwtHttpsOnly":false},{"id":"f0a1c53b.cb8fb8","type":"websocket-client","z":"","path":"192.168.10.16","tls":"","wholemsg":"false"},{"id":"38ba207e.854ca","type":"node-red-contrib-httpauthfile","z":"","name":"hane","authType":"Basic","realm":"","filePath":"","hashed":false},{"id":"1634f93.f03a507","type":"ui_tab","z":0,"name":"Høns","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ed5917a9.137038","type":"ui_tab","z":"","name":"Innstillinger","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"10a821fa.13779e","type":"ui_group","z":"","name":"Hønsegården","tab":"1634f93.f03a507","order":1,"disp":true,"width":"6","collapse":false},{"id":"867a4cf7.8f8e6","type":"ui_group","z":"","name":"Oppsett","tab":"ed5917a9.137038","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef274637.936378","type":"mui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#097479","edited":false},"m-page-backgroundColor":{"value":"#111111","edited":false},"m-page-sidebar-backgroundColor":{"value":"#000000","edited":false},"m-group-textColor":{"value":"#0eb8c0","edited":false},"m-group-borderColor":{"value":"#555555","edited":false},"m-group-backgroundColor":{"value":"#333333","edited":false},"m-widget-textColor":{"value":"#eeeeee","edited":false},"m-widget-backgroundColor":{"value":"#097479","edited":false},"m-widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2f9f0565.18d1ea","type":"ui_group","z":"","name":"Brytere","tab":"ed5917a9.137038","disp":true,"width":"6","collapse":false},{"id":"1e223fbe.16173","type":"ui_group","z":"","name":"Tilkoblingspunkt 1","tab":"72b57391.7ceb1c","disp":true,"width":"6","collapse":false},{"id":"a4e0c12b.16e59","type":"ui_group","z":"","name":"Tilkoblingspunkt 4","tab":"72b57391.7ceb1c","disp":true,"width":"6","collapse":false},{"id":"72b57391.7ceb1c","type":"ui_tab","z":"","name":"TIlkoblingspunkter","icon":"dashboard","disabled":false,"hidden":false},{"id":"1905a79f.87f678","type":"ui_group","z":"","name":"TIlkoblingspunkt 2","tab":"72b57391.7ceb1c","disp":true,"width":"6","collapse":false},{"id":"db604f61.c5fd1","type":"ui_group","z":"","name":"Tilkoblingspunkt 3","tab":"72b57391.7ceb1c","disp":true,"width":"6","collapse":false},{"id":"fbedae73.14616","type":"mui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"b8555731.f8f758","type":"mui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"9a495fb4.48c4a","type":"mui_link","name":"Link 3","icon":"open_in_browser","target":"newtab","order":3},{"id":"f9c039b7.be7ff8","type":"mui_group","name":"Group","tab":"fbedae73.14616","order":null,"disp":true,"width":6},{"id":"88515252.9f14f","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"6b9faf77.2c9a8","type":"mui_tab","z":"","name":"Instillinger","icon":"dashboard"},{"id":"452da14e.812d8","type":"mui_group","z":"","name":"MQTT","tab":"6b9faf77.2c9a8","disp":true,"width":"6","collapse":false},{"id":"a60a0111.ca26c","type":"mqtt-broker","z":"","name":"test","broker":"192.168.10.16","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21855d86.239362","type":"mqtt out","z":"7bce516f.32aba","name":"","topic":"","qos":"","retain":"","broker":"9bbb0e53.5981","x":310,"y":400,"wires":[]},{"id":"89b4b61c.ed9dc8","type":"ui_button","z":"7bce516f.32aba","name":"","group":"867a4cf7.8f8e6","order":10,"width":0,"height":0,"passthru":false,"label":"Restart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"honsegard/reset","x":100,"y":400,"wires":[["21855d86.239362"]]},{"id":"fa3aa4a4.1bfb58","type":"mqtt in","z":"7bce516f.32aba","name":"","topic":"honsegard/viser","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":120,"y":480,"wires":[["8662ddec.538a7"]]},{"id":"8662ddec.538a7","type":"debug","z":"7bce516f.32aba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":480,"wires":[]},{"id":"9b9ca1cf.ee307","type":"mqtt in","z":"7bce516f.32aba","name":"","topic":"honsegard/timeout","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":130,"y":80,"wires":[["5976221a.c6300c"]]},{"id":"dde04980.5e96a8","type":"mqtt out","z":"7bce516f.32aba","name":"","topic":"honsegard/timeout1","qos":"","retain":"","broker":"9bbb0e53.5981","x":740,"y":80,"wires":[]},{"id":"500dce2d.91fd","type":"mqtt out","z":"7bce516f.32aba","name":"","topic":"honsegard/fart1","qos":"","retain":"","broker":"9bbb0e53.5981","x":720,"y":140,"wires":[]},{"id":"4741514.2f349b","type":"mqtt in","z":"7bce516f.32aba","name":"","topic":"honsegard/fart","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":110,"y":140,"wires":[["dea6bd07.6aa27"]]},{"id":"5976221a.c6300c","type":"ui_slider","z":"7bce516f.32aba","name":"","label":"Timeout","tooltip":"","group":"867a4cf7.8f8e6","order":6,"width":"5","height":"1","passthru":true,"outs":"end","topic":"honsegard/timeout","min":0,"max":"500","step":1,"x":320,"y":80,"wires":[["dde04980.5e96a8","b943fe7.3a213"]]},{"id":"dea6bd07.6aa27","type":"ui_slider","z":"7bce516f.32aba","name":"","label":"Hastighet:","tooltip":"","group":"867a4cf7.8f8e6","order":4,"width":"5","height":"1","passthru":true,"outs":"end","topic":"","min":"100","max":"255","step":1,"x":320,"y":140,"wires":[["500dce2d.91fd","b83ba294.f9b6e"]]},{"id":"a4470c47.8b59f","type":"mqtt out","z":"49cc377f.5a24d8","name":"","topic":"honsegard/ssid1","qos":"2","retain":"true","broker":"9bbb0e53.5981","x":680,"y":40,"wires":[]},{"id":"eb9ff02b.ff139","type":"mqtt in","z":"49cc377f.5a24d8","name":"","topic":"honsegard/ssid","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":177,"y":61,"wires":[["f6e2e44b.f10de8"]]},{"id":"a62a69c2.0d3938","type":"mqtt in","z":"49cc377f.5a24d8","name":"","topic":"honsegard/pswd","qos":"2","datatype":"utf8","broker":"9bbb0e53.5981","x":180,"y":120,"wires":[["c23b8484.023f48"]]},{"id":"753b1c71.a80bb4","type":"mqtt out","z":"49cc377f.5a24d8","name":"","topic":"honsegard/pswd1","qos":"2","retain":"true","broker":"9bbb0e53.5981","x":690,"y":120,"wires":[]},{"id":"f6e2e44b.f10de8","type":"ui_text_input","z":"49cc377f.5a24d8","name":"","label":"SSID Tilkobling 1","tooltip":"","group":"1e223fbe.16173","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":410,"y":60,"wires":[["a4470c47.8b59f"]]},{"id":"c23b8484.023f48","type":"ui_text_input","z":"49cc377f.5a24d8","name":"","label":"PSWD Tilkobling 1","tooltip":"","group":"1e223fbe.16173","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"","x":410,"y":120,"wires":[["753b1c71.a80bb4"]]},{"id":"3780ea07.7ba036","type":"mqtt out","z":"49cc377f.5a24d8","name":"","topic":"honsegard/ssid3","qos":"2","retain":"true","broker":"9bbb0e53.5981","x":680,"y":180,"wires":[]},{"id":"218b31a9.3ec0be","type":"mqtt in","z":"49cc377f.5a24d8","name":"","topic":"honsegard/ssid2","qos":"2","datatype":"utf8","broker":"9bbb0e53.5981","x":180,"y":180,"wires":[["fe1742ba.eb171"]]},{"id":"81f0eb30.748628","type":"mqtt in","z":"49cc377f.5a24d8","name":"","topic":"honsegard/pswd2","qos":"2","datatype":"utf8","broker":"9bbb0e53.5981","x":190,"y":240,"wires":[["1ec12985.6c1356"]]},{"id":"22936f06.af37c","type":"mqtt out","z":"49cc377f.5a24d8","name":"","topic":"honsegard/pswd3","qos":"2","retain":"true","broker":"9bbb0e53.5981","x":690,"y":240,"wires":[]},{"id":"fe1742ba.eb171","type":"ui_text_input","z":"49cc377f.5a24d8","name":"","label":"SSID Tilkobling 2","tooltip":"","group":"1905a79f.87f678","order":3,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"","x":410,"y":180,"wires":[["3780ea07.7ba036"]]},{"id":"1ec12985.6c1356","type":"ui_text_input","z":"49cc377f.5a24d8","name":"","label":"PSWD Tilkobling 2","tooltip":"","group":"1905a79f.87f678","order":4,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"","x":410,"y":240,"wires":[["22936f06.af37c"]]},{"id":"3df9d7bb.219ff8","type":"mqtt out","z":"49cc377f.5a24d8","name":"","topic":"honsegard/ssid5","qos":"2","retain":"true","broker":"9bbb0e53.5981","x":680,"y":300,"wires":[]},{"id":"62a55883.d8c8f8","type":"mqtt in","z":"49cc377f.5a24d8","name":"","topic":"honsegard/ssid4","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":180,"y":300,"wires":[["53568ed.fe9bb7"]]},{"id":"802e13bf.65385","type":"mqtt in","z":"49cc377f.5a24d8","name":"","topic":"honsegard/pswd4","qos":"2","datatype":"utf8","broker":"9bbb0e53.5981","x":193,"y":359,"wires":[["f40f8a05.4c57a8"]]},{"id":"f39aaa22.2f8648","type":"mqtt out","z":"49cc377f.5a24d8","name":"","topic":"honsegard/pswd5","qos":"2","retain":"true","broker":"9bbb0e53.5981","x":690,"y":360,"wires":[]},{"id":"53568ed.fe9bb7","type":"ui_text_input","z":"49cc377f.5a24d8","name":"","label":"SSID Tilkobling 3","tooltip":"","group":"db604f61.c5fd1","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":410,"y":300,"wires":[["3df9d7bb.219ff8"]]},{"id":"f40f8a05.4c57a8","type":"ui_text_input","z":"49cc377f.5a24d8","name":"","label":"PSWD Tilkobling 3","tooltip":"","group":"db604f61.c5fd1","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"","x":413,"y":359,"wires":[["f39aaa22.2f8648"]]},{"id":"f10f2200.7a617","type":"mqtt out","z":"49cc377f.5a24d8","name":"","topic":"honsegard/ssid7","qos":"2","retain":"true","broker":"9bbb0e53.5981","x":680,"y":420,"wires":[]},{"id":"b4632b63.12a088","type":"mqtt in","z":"49cc377f.5a24d8","name":"","topic":"honsegard/ssid6","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":183,"y":419,"wires":[["38ab94fa.07791c"]]},{"id":"f276096e.41cf18","type":"mqtt in","z":"49cc377f.5a24d8","name":"","topic":"honsegard/pswd6","qos":"2","datatype":"utf8","broker":"9bbb0e53.5981","x":193,"y":479,"wires":[["2d77ed48.15ae82"]]},{"id":"b67dade1.1adc","type":"mqtt out","z":"49cc377f.5a24d8","name":"","topic":"honsegard/pswd7","qos":"2","retain":"true","broker":"9bbb0e53.5981","x":690,"y":480,"wires":[]},{"id":"38ab94fa.07791c","type":"ui_text_input","z":"49cc377f.5a24d8","name":"","label":"SSID Tilkobling 4","tooltip":"","group":"a4e0c12b.16e59","order":3,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"","x":413,"y":419,"wires":[["f10f2200.7a617"]]},{"id":"2d77ed48.15ae82","type":"ui_text_input","z":"49cc377f.5a24d8","name":"","label":"PSWD  Tilkobling 4","tooltip":"","group":"a4e0c12b.16e59","order":4,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"","x":410,"y":480,"wires":[["b67dade1.1adc"]]},{"id":"b2ee194e.b1e608","type":"mqtt in","z":"7bce516f.32aba","name":"","topic":"honsegard/mqtt1","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":120,"y":260,"wires":[["1e38895c.106367","2389d8ae.5e5f08"]]},{"id":"408d3bbe.e87364","type":"mqtt in","z":"7bce516f.32aba","name":"","topic":"honsegard/wifi1","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":120,"y":320,"wires":[["839ae12c.e91fa","a090b7ee.99b5e8"]]},{"id":"b83ba294.f9b6e","type":"ui_text_input","z":"7bce516f.32aba","name":"","label":"","tooltip":"","group":"867a4cf7.8f8e6","order":5,"width":"1","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":500,"y":120,"wires":[[]]},{"id":"b943fe7.3a213","type":"ui_text_input","z":"7bce516f.32aba","name":"","label":"","tooltip":"","group":"867a4cf7.8f8e6","order":7,"width":"1","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":500,"y":40,"wires":[[]]},{"id":"1e38895c.106367","type":"ui_text","z":"7bce516f.32aba","group":"867a4cf7.8f8e6","order":2,"width":0,"height":0,"name":"","label":"MQTT Server:","format":"{{msg.payload}}","layout":"row-left","x":340,"y":260,"wires":[]},{"id":"839ae12c.e91fa","type":"ui_text","z":"7bce516f.32aba","group":"867a4cf7.8f8e6","order":1,"width":0,"height":0,"name":"","label":"WiFi SSID: ","format":"{{msg.payload}}","layout":"row-left","x":330,"y":340,"wires":[]},{"id":"44c14bb3.821914","type":"mqtt out","z":"7bce516f.32aba","name":"","topic":"honsegard/maxtime1","qos":"","retain":"","broker":"9bbb0e53.5981","x":740,"y":200,"wires":[]},{"id":"98cfd8bf.8f5358","type":"mqtt in","z":"7bce516f.32aba","name":"","topic":"honsegard/maxtime","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":130,"y":200,"wires":[["14d71bb.85cbae4"]]},{"id":"14d71bb.85cbae4","type":"ui_slider","z":"7bce516f.32aba","name":"","label":"Siste lukketid","tooltip":"","group":"867a4cf7.8f8e6","order":8,"width":"5","height":"1","passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":330,"y":200,"wires":[["44c14bb3.821914","740467db.98ffc8"]]},{"id":"740467db.98ffc8","type":"ui_text_input","z":"7bce516f.32aba","name":"","label":"","tooltip":"","group":"867a4cf7.8f8e6","order":9,"width":"1","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":500,"y":180,"wires":[[]]},{"id":"2389d8ae.5e5f08","type":"debug","z":"7bce516f.32aba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":300,"wires":[]},{"id":"a090b7ee.99b5e8","type":"debug","z":"7bce516f.32aba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":380,"wires":[]},{"id":"fee1d6fb.f30e58","type":"mqtt in","z":"7bce516f.32aba","name":"","topic":"dev/test","qos":"2","datatype":"auto","broker":"a60a0111.ca26c","x":260,"y":1540,"wires":[["c70eab33.38bb98"]]},{"id":"c70eab33.38bb98","type":"debug","z":"7bce516f.32aba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":1540,"wires":[]},{"id":"7cb5ea8b.386114","type":"mqtt in","z":"c23581fd.2dd21","name":"","topic":"honsegard/status","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":160,"y":240,"wires":[["51d0d090.2c56","dfebc11b.953a9","98385fdf.aa47f"]]},{"id":"21a65135.18f43e","type":"mqtt out","z":"c23581fd.2dd21","name":"","topic":"honsegard","qos":"2","retain":"true","broker":"9bbb0e53.5981","x":450,"y":120,"wires":[]},{"id":"51db161a.3f2b28","type":"mqtt out","z":"c23581fd.2dd21","name":"","topic":"honsegard","qos":"2","retain":"true","broker":"9bbb0e53.5981","x":450,"y":60,"wires":[]},{"id":"4a391275.3ea1cc","type":"mqtt out","z":"c23581fd.2dd21","name":"","topic":"honsegard","qos":"2","retain":"true","broker":"9bbb0e53.5981","x":450,"y":300,"wires":[]},{"id":"3232632.7f3c49c","type":"mqtt out","z":"c23581fd.2dd21","name":"","topic":"honsegard","qos":"2","retain":"true","broker":"9bbb0e53.5981","x":450,"y":360,"wires":[]},{"id":"315f84f1.59c8ec","type":"change","z":"c23581fd.2dd21","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Koble fra","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":240,"wires":[["27304c2b.72bf64"]]},{"id":"27304c2b.72bf64","type":"debug","z":"c23581fd.2dd21","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":240,"wires":[]},{"id":"51d0d090.2c56","type":"switch","z":"c23581fd.2dd21","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"activate","vt":"str"},{"t":"eq","v":"dectivate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":260,"wires":[["315f84f1.59c8ec"],["ff992912.f38478"],[]]},{"id":"ff992912.f38478","type":"change","z":"c23581fd.2dd21","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Koble til","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":300,"wires":[[]]},{"id":"7787f7b4.252a68","type":"mqtt out","z":"c23581fd.2dd21","name":"","topic":"honsegard","qos":"2","retain":"true","broker":"9bbb0e53.5981","x":450,"y":420,"wires":[]},{"id":"21ae5f54.3fdd6","type":"mqtt in","z":"c23581fd.2dd21","name":"","topic":"honsegard/closed","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":150,"y":500,"wires":[[]]},{"id":"bd1f2bd6.b03128","type":"mqtt in","z":"c23581fd.2dd21","name":"","topic":"honsegard/opend","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":140,"y":560,"wires":[[]]},{"id":"e73d8ef7.322a7","type":"mqtt in","z":"c23581fd.2dd21","name":"","topic":"honsegard/viser","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":160,"y":620,"wires":[["d52a9923.2be808"]]},{"id":"99bde787.a52128","type":"ui_button","z":"c23581fd.2dd21","name":"","group":"10a821fa.13779e","order":3,"width":"3","height":"2","passthru":true,"label":"Steng porten","tooltip":"","color":"","bgcolor":"","icon":"lock","payload":"closing","payloadType":"str","topic":"honsegard","x":170,"y":60,"wires":[["51db161a.3f2b28","e79ba7c9.d83d88"]],"info":"<button style='font-size:24px'>Button <i class='fas fa-door-closed'></i></button>"},{"id":"43db4f6.77880b","type":"ui_button","z":"c23581fd.2dd21","name":"","group":"10a821fa.13779e","order":2,"width":"3","height":"2","passthru":false,"label":"Åpne porten","tooltip":"","color":"","bgcolor":"","icon":"lock_open","payload":"opening","payloadType":"str","topic":"honsegard","x":170,"y":120,"wires":[["21a65135.18f43e"]]},{"id":"d50cca91.44a178","type":"ui_button","z":"c23581fd.2dd21","name":"","group":"10a821fa.13779e","order":8,"width":"3","height":"1","passthru":false,"label":"Tilkoble","tooltip":"","color":"#A0A0A0","bgcolor":"#660066","icon":"location_on","payload":"activate","payloadType":"str","topic":"honsegard","x":160,"y":360,"wires":[["3232632.7f3c49c"]]},{"id":"c9108830.7a2d68","type":"ui_button","z":"c23581fd.2dd21","name":"","group":"10a821fa.13779e","order":9,"width":"3","height":"1","passthru":false,"label":"Utkoble","tooltip":"","color":"#A0A0A0","bgcolor":"#660066","icon":"location_off","payload":"deactivate","payloadType":"str","topic":"honsegard","x":160,"y":300,"wires":[["4a391275.3ea1cc"]]},{"id":"9b41f30f.203d3","type":"ui_button","z":"c23581fd.2dd21","name":"","group":"10a821fa.13779e","order":5,"width":"6","height":"1","passthru":false,"label":"Stopp","tooltip":"","color":"white","bgcolor":"red","icon":"","payload":"stopp","payloadType":"str","topic":"honsegard","x":150,"y":420,"wires":[["7787f7b4.252a68"]]},{"id":"dfebc11b.953a9","type":"ui_text","z":"c23581fd.2dd21","group":"10a821fa.13779e","order":1,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":430,"y":220,"wires":[],"info":"<h1>"},{"id":"d52a9923.2be808","type":"ui_slider","z":"c23581fd.2dd21","name":"pos slider","label":"Pos:","tooltip":"","group":"10a821fa.13779e","order":4,"width":"4","height":"1","passthru":false,"outs":"all","topic":"","min":0,"max":"600","step":1,"x":395,"y":620,"wires":[[]],"l":false},{"id":"a3d90f52.8ccb6","type":"ui_text","z":"c23581fd.2dd21","group":"10a821fa.13779e","order":6,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":590,"y":720,"wires":[]},{"id":"a43a1fa5.ef2ae","type":"mqtt in","z":"c23581fd.2dd21","name":"","topic":"honsegard/viser1","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":180,"y":720,"wires":[["a3d90f52.8ccb6"]]},{"id":"d3a33ba8.acadc8","type":"ui_led","z":"c23581fd.2dd21","group":"10a821fa.13779e","order":10,"label":"Gul:  Åpen,    Blå:   Stengt","colorForValue":[{"color":"yellow","value":"apen","valueType":"str"},{"color":"blue","value":"lukket","valueType":"str"},{"color":"black","value":"disabled","valueType":"str"}],"name":"","x":410,"y":860,"wires":[]},{"id":"98385fdf.aa47f","type":"debug","z":"c23581fd.2dd21","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":160,"wires":[]},{"id":"a31145d1.70f748","type":"mqtt in","z":"c23581fd.2dd21","name":"","topic":"honsegard/led","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":170,"y":860,"wires":[["d3a33ba8.acadc8","ceb787eb.6e4928"]]},{"id":"ceb787eb.6e4928","type":"debug","z":"c23581fd.2dd21","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":940,"wires":[]},{"id":"2b90f68d.4073aa","type":"mqtt out","z":"c23581fd.2dd21","name":"","topic":"","qos":"","retain":"","broker":"9bbb0e53.5981","x":700,"y":500,"wires":[]},{"id":"c8b91ff.b77fce","type":"mqtt in","z":"c23581fd.2dd21","name":"","topic":"honsegard","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":710,"y":440,"wires":[["fcfdb09.e13f85"]]},{"id":"fcfdb09.e13f85","type":"debug","z":"c23581fd.2dd21","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":440,"wires":[]},{"id":"e79ba7c9.d83d88","type":"debug","z":"c23581fd.2dd21","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":20,"wires":[]},{"id":"3ca063aa.ac368c","type":"mqtt in","z":"c23581fd.2dd21","name":"hei","topic":"/dev/test","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":190,"y":1040,"wires":[["bf011ec8.b66d5"]]},{"id":"bf011ec8.b66d5","type":"debug","z":"c23581fd.2dd21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":1040,"wires":[]},{"id":"d8fca4b6.e233a8","type":"mqtt in","z":"c23581fd.2dd21","name":"honsegard","topic":"bobil","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":200,"y":1140,"wires":[["b86a5fbf.7741b"]]},{"id":"b86a5fbf.7741b","type":"debug","z":"c23581fd.2dd21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":1140,"wires":[]},{"id":"a0d71580.e2e6b8","type":"mqtt in","z":"c23581fd.2dd21","name":"honsegard","topic":"hallo","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":200,"y":1220,"wires":[["31cf3e53.b320f2"]]},{"id":"31cf3e53.b320f2","type":"debug","z":"c23581fd.2dd21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":1220,"wires":[]},{"id":"e25af6e6.a2d068","type":"mqtt in","z":"7bce516f.32aba","name":"","topic":"honsegard","qos":"2","datatype":"auto","broker":"9bbb0e53.5981","x":170,"y":600,"wires":[["da983bd.6a9c6c8"]]},{"id":"da983bd.6a9c6c8","type":"debug","z":"7bce516f.32aba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":600,"wires":[]},{"id":"3f4a31e8.bbe36e","type":"mqtt in","z":"c23581fd.2dd21","name":"","topic":"honsegard/sted","qos":"2","datatype":"auto","broker":"1f43233c.b8bd4d","x":910,"y":60,"wires":[["a7ac0a1f.739b68","dcb4bc2a.806d5"]]},{"id":"a7ac0a1f.739b68","type":"ui_text","z":"c23581fd.2dd21","group":"10a821fa.13779e","order":7,"width":0,"height":0,"name":"","label":"Sted:","format":"{{msg.payload}}","layout":"row-left","x":1040,"y":60,"wires":[]},{"id":"f4951cb2.47f98","type":"mqtt out","z":"7bce516f.32aba","name":"","topic":"honsegard/sted1","qos":"","retain":"","broker":"1f43233c.b8bd4d","x":510,"y":680,"wires":[]},{"id":"c77384ec.e0b868","type":"mqtt in","z":"7bce516f.32aba","name":"","topic":"sted","qos":"2","datatype":"auto","broker":"1f43233c.b8bd4d","x":110,"y":680,"wires":[["b4274148.807f"]]},{"id":"b4274148.807f","type":"ui_text_input","z":"7bce516f.32aba","name":"","label":"Sted:","tooltip":"","group":"867a4cf7.8f8e6","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":250,"y":680,"wires":[["f4951cb2.47f98"]]},{"id":"dcb4bc2a.806d5","type":"debug","z":"c23581fd.2dd21","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":140,"wires":[]}]